.no-books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list{
    
    .list-item{
        padding: 1em 0px;
        border-bottom: 1px solid white;
        margin: 0px 0em;
        &:last-of-type{
            border-bottom: 0px;
        }
        img{
            box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }
        .title{
            margin-bottom: 0em;
            margin-top: .25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-height: 1.2em;
            max-height: 2.4em;
        }
        .author{
            color: #24B3E2;
            font-size: 12px;
        }
    }
    
}